In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
dataZoo = pd.read_csv("zoo.csv")

In [5]:
dataZoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
dataZoo.shape

(100, 18)

In [7]:
x = dataZoo.iloc[:,1:17]

In [8]:
y = dataZoo.iloc[:,17]

In [9]:
y.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

In [10]:
y.shape

(100,)

In [11]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

In [12]:
X_test.shape

(25, 16)

In [13]:
X_train.shape

(75, 16)

In [14]:
ClassifierZ = DecisionTreeClassifier(random_state=0)

In [15]:
ClassifierZ.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [16]:
ClassifierZ.score(X_test,y_test)

0.92

In [17]:
ClassifierZ.predict(X_test[10:15])

array([2, 4, 7, 1, 1])

In [18]:
y_test[10:15]

40    2
60    4
38    6
62    1
17    1
Name: class_type, dtype: int64